[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "alembic>=1.16.5",
    "asyncpg>=0.31.0",
    "fastapi>=0.128.7",
    "pydantic-settings>=2.11.0",
    "sqlalchemy[asyncio]>=2.0.46",
    "uvicorn>=0.39.0",
]
